
.bold{
    font-weight: bold;
  }

  .red {
      color: red;
  }
  
  Button{
    background-color: green;
    color: white;
    font: inherit;
    height: 40px;
    margin: auto;
    padding: auto;
    border: 1px solid black;
    cursor: pointer;
  }
        
  Button:hover {
    background-color: lightgreen;
    color: black;
  }
  
  .Red{
    background-color: red;
  }
  
  .Red:hover{
    background-color: salmon;
  }
  
  